*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-size: 4vw;
    text-align: left;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-size: 4vw;
    text-align: left;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-size: 4vw;
    text-align: left;
}

.footer {
    background-color: red;
}


.img_head {
    text-align: center;
    width: 100vw;
    height: fit-content;
    margin-top: -5vw;
}


.session_div {
    text-align: left;
    margin-left: 2vw;
    margin-top: 5vw;
}

.id_session_div {
    float: left;
    font-size: 5vw;
}

.id_session_btn {
    margin-right: 5vw;
    height: fit-content;
}


.session_div_clipboard {
    /*clear: both;*/
    text-align: right;
    /*position: absolute;*/
    color: #0A84FF;
    font-style: italic;
    font-size: 4vw;
    /*margin: 8vw auto 0 78vw;*/
    /*margin-left: 22vw;*/
    /*margin-top: 13vw;*/
    display: none;
    /*height: 10vw;*/
}

.myButtonClipboard {
    background-color: transparent;
    border-radius: 3vw;
    border: 1px solid #0A84FF;
    display: inline-block;
    cursor: pointer;
    color: #0A84FF;
    font-size: 4vw;
    padding: 3px 10px;
    text-decoration: none;
    float: right
}

.myButton {
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid #0A84FF;
    display: inline-block;
    cursor: pointer;
    color: #0A84FF;
    width: 90vw;
    font-size: 5vw;
    padding: 2vw 7vw;
    text-decoration: none;
    margin: 0 auto;
}

.myButton:hover {
    background-color: #0A84FF;
    color: white;
}

.form_div {
    clear: both;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 10vh;

}

@media only screen and (min-width: 1000px) {
    .form_div {
        clear: both;
        text-align: left;
        position: relative;
        font-size: 3vw;
        color: white;
        width: 90vw;
        border-radius: 7px;
        margin-top: 30vw;
        margin-left: 2vw;

    }
}

.SessionForm {
    background-color: #5F00FF;
    font-size: 5vw;
    color: white;
    width: 90vw;
    /*border-radius: 7px;*/
    border: 0;
    border-radius: 7px;
    height: 15vw;
    align-items: center;
    horiz-align: center;
    vertical-align: center;
}


.material-icons {
    position: absolute;
    vertical-align: center;
    left: 80vw;
    color: white;

}

.form_psw_div {
    position: relative;
    margin-top: 2vw;
    margin-bottom: 2vw;
    vertical-align: center;
    align-items: center;
    display: inline-flex;
}

.form_name_div {
    position: relative;
}

.empty_div {
    height: 30vh;
    width: 100%;
    clear: both;
    background-color: red;
}

.dot_div {
    position: relative;
    height: 50px;
    clear: both;
    margin-top: 2vw;
    text-align: center;
}

.dot {
    margin-top: 10vw;
    height: 3vw;
    width: 3vw;
    background-color: #a9bad5;
    border-radius: 50%;
    display: inline-block;
}

.dot_filled {
    height: 3vw;
    width: 3vw;
    background-color: #0A84FF;
    border-radius: 50%;
    display: inline-block;
}

.grid2x2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid2x2 > div {
    display: flex;
    flex-basis: 15vw;
    justify-content: center;
    flex-direction: column;
}

.grid2x2 > div > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box {

}

.box1 {
    /*background-color: red;*/
}

.box2 {
    /*background-color: orange;*/
}

.box3 {
    /*background-color: purple;*/
    border-bottom: 2px solid #5F00FF;
}

.box4 {
    /*background-color: grey;*/
    border-bottom: 2px solid #5F00FF;

}
