html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#5F00FF, #0A84FF) no-repeat fixed;
}

.footer {
    background-color: red;
}

.img_div {
    margin-top: 5vh;
    /*position: absolute;*/
    top: 0;
    z-index: 100;
    width: 100%;
}

.myButton {
    background-color: transparent;

    border-radius: 5px;
    border: 3px solid white;
    display: inline-block;
    cursor: pointer;
    color: white;
    width: 95%;
    font-size: 4vw;
    padding: 2vw 7vw;
    text-decoration: none;
    margin: 0 auto;
}

.myButton:hover {
    background: linear-gradient(#5F00FF, #0A84FF);
    background-color: white;
}


.myButton_results {
    border-radius: 5px;
    border: 3px solid white;
    display: inline-block;
    cursor: pointer;
    color: #0A84FF;
    width: 95%;
    font-size: 3vw;
    padding: 2vw 7vw;
    text-decoration: none;
    margin: 0 auto;
}

.myButton_results:hover {
    background: linear-gradient(#5F00FF, #0A84FF);
    background-color: white;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.div_buttons {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}

@media only screen and (min-width: 1000px) {

    .div_buttons {
        margin-top: 50vw;
        position: relative;
        bottom: 0;
        width: 100%;
        text-align: center;
        z-index: 100;

    }
}


.IndexForm {
    background-color: transparent;
    border-radius: 13px;
    border-color: white;
    font-size: 4vw;
    color: white;
    width: 70%;
    height: 6vh;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}






