*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
    background: white no-repeat fixed;
}

.scrollable {
    position: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5F00FF;
    opacity: 1; /* Firefox */
    font-size: 4vw;
    text-align: left;
    margin-left: 2vw;
    horiz-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5F00FF;
    font-size: 4vw;
    text-align: left;
    margin-left: 2vw;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #5F00FF;
    font-size: 4vw;
    text-align: left;
    margin-left: 2vw;

}


.footer {
    background-color: red;
}

.img_head {
    text-align: center;
    width: 100vw;
    height: fit-content;
    margin-top: -5vh;

}

.session_div {
    text-align: left;
    margin-left: 2vw;
    margin-top: 2vh;

}

.id_session_div {
    float: left;
    font-size: 5vw;
}

.id_session_btn {
    margin-right: 5vw;
    height: fit-content;
}

.session_div_clipboard {
    clear: both;
    text-align: center;
    position: absolute;
    color: #0A84FF;
    font-style: italic;
    font-size: 4vw;
    margin: 6vw auto 0 78vw;
    /*margin-left: 22vw;*/
    /*margin-top: 13vw;*/
    display: none;
    height: 10vh;
}


.myButtonClipboard {
    background-color: transparent;
    border-radius: 3vw;
    border: 1px solid #0A84FF;
    display: inline-block;
    cursor: pointer;
    color: #0A84FF;
    font-size: 4vw;
    padding: 3px 10px;
    text-decoration: none;
    float: right
}

.dot_div {
    position: relative;
    height: 10vh;
    clear: both;
    margin-top: 2vh;
    text-align: center;
}

.dot {
    margin-top: 5vh;
    height: 3vw;
    width: 3vw;
    background-color: #a9bad5;
    border-radius: 50%;
    display: inline-block;
}

.dot_filled {
    height: 3vw;
    width: 3vw;
    background-color: #0A84FF;
    border-radius: 50%;
    display: inline-block;
}


.column {
    font-size: 4vw;
    margin: auto;
}

.checkbox {
    -ms-transform: scale(1); /* IE */
    -moz-transform: scale(1); /* FF */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
    transform: scale(1);
    -webkit-appearance: none;
    font-size: 5vw;
    width: 6vw;
    height: 6vw;
    margin: 1vw 1vw;
    /*display: inline-block;*/
    border-radius: 7px;
    background-color: transparent;
    border: 3px solid #0A84FF;
}

.checkbox:checked {
    /*background-color: #900a0a;*/;
    background: #0A84FF url('../assets/vectorpaint.svg') no-repeat center center;
    /*background-position: right .7em top 50%, 0 0;*/
    background-size: 10vw auto, 100%;
}

.slick-next, .slick-prev {
    font-size: 2vw;
    -webkit-appearance: none;
    -moz-animation: none;
    margin: 1vw 18vw;
    background: transparent;
    color: #0A84FF;
    border: none;
}

.slick-next:after {
    content: ' >';
    left: 30vw;
}

.slick-prev:before {
    content: '< ';
    right: 30vw;

}

.section {
    text-align: center;
    margin-top: 2vw;
}


.couples_button {
    font-size: 5vw;
    width: 25vw;
    height: 8vw;
    margin: 1vw 1vw;
    display: inline-block;
    border-radius: 1vw;
    background-color: white;
}

.manage_heats_button {
    font-size: 2vw;
    border-radius: 1vw;
    padding: 2vw 5vw;
}


.add_couples_div {
    position: relative;
    bottom: 0;
    width: 100%;

}

@media only screen and (min-width: 1000px) {

    .add_couples_div {
        position: relative;
        bottom: 0;
        /*text-align: center;*/
        width: 100%;

    }
}

.form_div {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    vertical-align: center;
    horiz-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 3vw;

}


.row {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex-direction: column;
    flex: 1;
}


.myButton {
    background-color: transparent;
    border-radius: 7px;
    border: 3px solid #5F00FF;
    display: flex;
    cursor: pointer;
    color: #5F00FF;
    font-size: 5vw;
    margin-right: 7vw;
}

.myButton:hover {
    border-radius: 7px;
    border: 3px solid #5F00FF;
    display: flex;
    cursor: pointer;
    color: white;
    font-size: 5vw;
    margin-right: 7vw;
    background-color: #5F00FF;
}


.myButton_add {
    vertical-align: middle;
    background-color: transparent;
    border-radius: 7px;
    border: 3px solid #5F00FF;
    display: flex;
    cursor: pointer;
    color: #5F00FF;
    font-size: 5vw;
    /*margin-top: 3vw;*/
    /*margin-left: 4vw;*/
}

.select_div {
    margin-top: 2vh;
    text-align: center;
    display: flex;
    vertical-align: center;
    horiz-align: center;
    align-items: center;
}


.select-css {
    font-size: 5vw;
    color: white;
    width: 11vw;
    height: 6vw;
    box-sizing: border-box;
    /*margin: auto 3vw;*/
    border-radius: 7px;
    /*border: 1px solid #0A84FF;*/
    /*box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);*/
    /*border-radius: .5em;*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /*background-color: #5F00FF;*/
    background: #5F00FF url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat top right;
    /*background-image: background-repeat: no-repeat, repeat;*/
    background-position: right 1vw top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: white;
    color: white;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

/*llllll*/
.form_next {
    /*text-align: center;*/
    /*position: static;*/
    /*background-color: #5F00FF;*/
    /*height: 10vh;*/
}


.myButtonNext {
    position: absolute;
    background-color: transparent;
    bottom: 3vh;
    border-radius: 5px;
    border: 3px solid #0A84FF;
    cursor: pointer;
    color: #0A84FF;
    width: 95vw;
    font-size: 5vw;
    padding: 2vw 7vw;
    text-decoration: none;
    -moz-appearance: none;
    left: 0;
    text-align: center;
    margin: auto 3vw;
    overflow: hidden;

}

@media only screen and (min-width: 1000px) {

    .myButtonNext {
        position: static;
        background-color: transparent;
        bottom: 3vh;
        border-radius: 5px;
        border: 3px solid #0A84FF;
        cursor: pointer;
        color: #0A84FF;
        width: 95vw;
        font-size: 5vw;
        padding: 2vw 7vw;
        text-decoration: none;
        -moz-appearance: none;
        left: 0;
        text-align: center;
        margin: auto 3vw;
        overflow: hidden;

    }
}

.material-icons.delete {
    font-size: 10vw;
    color: #5F00FF;
    margin-left: 3vw;
}



