*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
    background: white no-repeat fixed;
}

.scrollable {
    position: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5F00FF;
    opacity: 1; /* Firefox */
    font-size: 4vw;
    text-align: left;
    margin-left: 2vw;
    horiz-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5F00FF;
    font-size: 4vw;
    text-align: left;
    margin-left: 2vw;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #5F00FF;
    font-size: 4vw;
    text-align: left;
    margin-left: 2vw;

}


.footer {
    background-color: red;
}

.img_head {
    text-align: center;
    width: 100vw;
    height: fit-content;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 3vw;
    margin-left: 2vw;
}

th, td {
    padding: 2vw;
}
td{
    font-size: 4vw;
    background-color: rgba(170, 176, 194, 0.76);
}
th{
    background-color: #5a7cb0;
    font-size: 4vw;
    font-weight: bold;
}
button {
    color: #1F3351;
    background-color: #5a7cb0;
}
