*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
    background: white no-repeat fixed;
}

.scrollable {
    position: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5F00FF;
    opacity: 1; /* Firefox */
    font-size: 4vw;
    text-align: left;
    margin-left: 2vw;
    horiz-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5F00FF;
    font-size: 4vw;
    text-align: left;
    margin-left: 2vw;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #5F00FF;
    font-size: 4vw;
    text-align: left;
    margin-left: 2vw;

}


.footer {
    background-color: red;
}

.img_head {
    text-align: center;
    width: 100vw;
    height: fit-content;
    margin-top: 2vw;

}

.session_div {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 2vw;
    margin-top: 2vh;

}

.id_session_div {
    float: left;
    font-size: 5vw;
}

.id_session_btn {
    margin-right: 5vw;
    height: fit-content;
}

.session_div_clipboard {
    /*clear: both;*/
    text-align: right;
    /*position: absolute;*/
    color: #0A84FF;
    font-style: italic;
    font-size: 4vw;
    /*margin: 8vw auto 0 78vw;*/
    /*margin-left: 22vw;*/
    /*margin-top: 13vw;*/
    display: none;
    /*height: 10vw;*/
}


.myButtonClipboard {
    background-color: transparent;
    border-radius: 3vw;
    border: 1px solid #0A84FF;
    display: inline-block;
    cursor: pointer;
    color: #0A84FF;
    font-size: 4vw;
    padding: 3px 10px;
    text-decoration: none;
    /*float: right*/
    /*width: 15vw;*/
}

.grid2x2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid2x2 > div {
    display: flex;
    flex-basis: 15vw;
    justify-content: center;
    flex-direction: column;
}

.grid2x2 > div > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box {

}

.box1 {
    /*background-color: red;*/
}

.box2 {
    /*background-color: orange;*/
}

.box3 {
    /*background-color: purple;*/
    border-bottom: 2px solid #5F00FF;
}

.box4 {
    /*background-color: grey;*/
    border-bottom: 2px solid #5F00FF;

}

