{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Core</title>#}
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
{#    <link rel="stylesheet" href="/resources/demos/style.css">#}
{#    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
{#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
{#    {% load static %}#}
{#    <link rel="shortcut icon" href="{% static 'assets/wide.ico' %}" type="image/x-icon"/>#}
{##}
{#    <script src="{% static 'js/core.js' %}"></script>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link rel="stylesheet" href="{% static 'css/core.css' %}">#}
{#</head>#}
{#<body onload="reset_couple_cookie()" style="background-color: #ff5855">#}
{#<h2 style="color: #1F3351;font-size: 4vw">#}
{#    Giudice: {{ judge }}#}
{#</h2>#}
{#<hr>#}
{#<h2>#}
{#    <label style="font-size: 5vw;color: #1F3351" for="Ballo">Scegliere un ballo:</label>#}
{#    <select style="font-size: 5vw;background-color: #1F3351" name="balli" id="balli"#}
{#            onchange="showVotationData('{{ session_id }}','{{ c.number }}','{{ judge }}')">#}
{#        {% for d in dances %}#}
{#            <option value="{{ d.name }}">{{ d.name }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
{#</h2>#}
{##}
{#<hr>#}
{#<h4>#}
{#    <div class="btn-group" style="font-size: 4vw">#}
{#        {% for c in couples %}#}
{#            <button style="background-color: #ffffff;color: #ff5855" class="ui-button ui-widget ui-corner-all"#}
{#                    onclick='showVotationData("{{ session_id }}","{{ c.number }}","{{ judge }}","{{ user }}")'#}
{#                    id="{{ c.number }}">{{ c.number }}</button>#}
{#        {% endfor %}#}
{#    </div>#}
{##}
{#</h4>#}
{##}
{#<h3>#}
{#    {% for p in params %}#}
{#        {% csrf_token %}#}
{#        <label style="font-size: 4vw;color: #1F3351">{{ p.name }}</label>#}
{#        <input style="color: white;font-size: 4vw;background-color: #ff5855;border: solid #1F3351" pattern="[0-9]*"#}
{#               inputmode="numeric" type="number" id="{{ p.name }}" name="{{ p.name }}" min="0" max="10"#}
{#               onkeyup="check_vote_range('{{ p.name }}')">#}
{#        <br>#}
{#        <br>#}
{#    {% endfor %}#}
    {#    </form>#}
{#</h3>#}
{##}
{#<h4>#}
{#    <label style="color: #1F3351;font-size: 6vw">Note</label>#}
{#    <br>#}
{#    <textarea style="font-size: 3vw; background-color: #1F3351;color: white; height: 15vw; width: 80vw"#}
{#              id="notes"></textarea>#}
{#    <br></h4>#}
{##}
{#<h2>#}
{#    <a class="myButton" href="{% url 'results' %}">Termina</a>#}
{#</h2>#}
{#</body>#}
{#</html>#}
