<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create judge</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/create_judge.css' %}">
    <script src="{% static 'js/create_judges.js' %}"></script>

    <title>NewSession</title>
</head>
<body style="background-color: #ff5855">
<h1 style="text-align: center;border:2px solid #1F3351;border-width: 2vw">
    <label style="font-size: 4vw;color: #1F3351">Inserire i dati del giudice</label>
    <form style="color: #1F3351;font-size: 4vw;margin: 0 auto" method="post" action="{% url 'create_judges' %}">
        {% csrf_token %}
        {{ JudgeForm.as_p }}
        <input type="hidden" value="{{ session_id }}" name="session_id" id="session_id">
        <input class="myButton" type="submit" value="Avanti">
    </form>

</h1>
<h1 style="text-align: center;background-color: #1F3351">
    <img style="width: 50%;height: 50%" src="{% static 'assets/wide_w.png' %}">
</h1>
</body>
</html>