<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>End</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'assets/wide.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/sync_judges.css' %}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0,maximum-scale=1.0">

</head>
<body>
<div class="img_head">
    <div>
        <img style="width: 20vw;max-width: 20vw" src="{% static 'assets/logo_viola.png' %}">
    </div>
</div>
<div style="text-align: center;color: #5F00FF;font-size: 8vw;margin-left: 10vw;margin-top: 15vw;width: 80%">Thanks for
    judging this session
    by<br><br>
</div>
<div class="img_head">
    <div>
        <img style="width: 40vw;max-width: 40vw" src="{% static 'assets/logo.png' %}">
    </div>

</div>
<div style="text-align:center;margin-top: 15vw">
    <a style="text-decoration: none;color: #0A84FF;font-size: 7vw;border: 1px solid #0A84FF;border-radius: 3px"
       href="{% url 'index' %}">Back Home</a>
</div>

</body>
</html>
